@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --main-color: #C68B59;
    --dark-main: #9d6536;
    --black: #13131a;
    --bg: #e195ab;
}

 /*overall design*/

 *{
 font-family: 'Poppins', san-serif;
 margin:0px; padding: 0px; 
 outline: none;
 text-decoration: none;
 transition: .2 linear;
 }

html { 
scroll-padding-top: 9rem;
scroll-behavior: smooth;    
}

/*body bg*/
body {
/*  background: linear-gradient(30deg, rgba(244,163,164, 1), rgba(143,193,212,1));*/
background: url('pink bg.jpg');
background-color: #ffcce1;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}

/*header design*/
header {
background: var(--bg);
display: flex;
align-items: center;
/* justify-content: center;*/
padding: 0.5rem 2%;
/* position: fixed;*/
top: 0; left: 0; right: 0;
z-index: 1000px;
flex-wrap: wrap;
}

.header .logo img {
height: 90px;
margin-left: 15px;
}

.header .navbar{
margin-right: 70%;
}

.header .navbar a{
color: #6a1e55;
font-size: 25px;
margin-left: 35px;
margin-right: 15px;
font-weight: bold;
}

nav ul li {
display: inline-block;
}

.menu1 {
    font-size: 50px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: #AB4459;
    border-radius: 50px;
    border-color: var(--dark-main): border-style: solid;
    padding: 1rem;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 530px;
}

.header .navbar a:hover, a.active{
color: floralwhite;
border-bottom: .2rem solid floralwhite;
transition: .3s;
}

.check-btn {
font-size: 30px;
color: black;
margin-left: 15px;
cursor: pointer;
display: none;
}

.check-btn:hover {
color: fLoralwhite;
transition: .3s;
}

#check {
display: none;
}
/* RESPONSIVE MENU */

@media (max-width: 1020px) {
.header .navbar {
margin-right: 25px;
}

.check-btn{
display: block;
}

ul {
position: fixed;
width: 100%;
height: 100vh;
background-color: var(--dark-main);
top: 90px;
Left: -100%;
text-align: center;
transition: all .3s;
}

nav ul li {
display: block;
}

nav ul li a{
font-size: 45px;
color: floralwhite;
font-weight: bold;
Line-height: 120px;
}

.header .navbar ul li a:hover, a.active {
background: none;
color: var(--bg);
border-bottom: .3rem solid var(--bg);
transition: .2s
}

#check:checked ~ ul {
    left:0;
}

}
/*RESPONSIVE MENU*/

/*ICONS - CART-USER*/
.header .icons div {
cursor: pointer;
padding-right: 12px;
color: #6a1e55;
font-size: 32px;
border: none;
display: inline-block;
}

.header .icons div:hover {
color: floralwhite;
transition: .3s;
}
/*ICONS - CART-USER*/

.header .search-form {
margin-left: 240px;
}

.header .search-form input{
height: 50px;
width: 340px;
font-size: 1.6rem;
color:var(--black);
text-transform: none;
background: whitesmoke;
border-radius: 50px;
border-color: var(--main-color):
margin-right: 17px;
padding: 10px;
}

@media (max-width: 1020px) {
.header .search-form input {
height: 40px;
width: 300px;
}
}
/*header end*/


/*------------‐‐-------‐---- CART FORM----------------------------*/

/*top menu start*/
.menu.heading {
margin-top: 150px;
font-size: 6rem;
text-align: center:
}

.menu .heading span {
color: var(--dark-main);
}

.menu .heading-description {
text-align: center;
padding-bottom: 2rem;
font-size: 1.5rem;
}

/*instructions guide*/
.order-guide {
display: block;
justify-content: center;
margin-top: 30px;
text-align: center;
}

.order-guide button{
font-size: 25px;
color: #fff;
background-color: var(--main-color);
border-radius: 50px;
border-color: var(--dark-main);
border-style: solid;
padding: 5px;
padding-right: 19px;
padding-left: 10px;
cursor: pointer;
}

.order-guide button:hover{
background-color: var(--dark-main);
}

.order-guide img {
width: 70%;
height: 70%;
display: none;
padding-left: 15%;
padding-right: 50px;
margin-bottom: 50px;
/*instructions guide end*/
}

/*category-text start*/
.menu .category-text{
text-align: center;
margin-top: 50px;
margin-bottom: 20px;
}

.menu .category-text h3 {
border: var(--dark-main);
border-radius: 50px;
border-style: solid;
border-width: 6px;
display: inline-block;
font-size: 70px;
text-align: center;
padding: 1rem;
margin-bottom: 50px;
margin-top: 10px;
/*category-text end*/
}

/*top menu end*/


/*for styling menu*/
.menu-section {
background-color: none;
/* Set the background color for the menu section */
/* Add other container styles specific to the menu section here */
}

.menu .container{
display: flex;
flex-wrap: flex;
padding: 2.5rem 0;*/
}

.menu .container .menu-box{
/*background: var(--white);*/
/* Change the width and height as needed */
width: 70%; /* Adjust the width */
max-width: 400px; /* You can set a maximum width if needed */
height: 100%; /* Adjust the height */
max-height: 200%;
/*cursor: pointer;*/
box-shadow: 3px 3px 10px rgba(179, 179, 179, 0.2);
border-radius: 20px;
padding: 0.5rem;
border: var(--dark-main):
border-radius: 20px;
border-style: solid;
border-width: 3px;
margin-right: 25px;
margin-left: 25px;
}

.menu .container .menu-box img {
width: 95%;
border-radius: 10px;
/*margin-left: 5px;*/
}

.menu .container .menu-box .menu-content {
padding: 1.2rem;
text-align: center;
}

.menu .container .menu-box .menu-content h3 {
font-size: 20px;
padding-top: 1px:
margin-bottom: 7px;
text-align: center;
}

.menu .container .menu-box .menu-content p {
font-size: 1rem;
padding: 1.3 rem 0;
padding-right: 15px;
padding-left: 15px;
font-weight: 400;
color: var(--black);
margin-bottom: 20px;
text-align: justify;
}


/*.menu .container .menu-box:hover img{
transform: scale(1.1);
transition-duration: 0.3s;
}

.menu .container .menu-box:hover {
box-shadow: Øpx Opx 10px Opx #865439;
}*/

.menu .container .menu-box .menu-content select {
font-size: 15px;
color: #fff;
background-color: var(--main-color);
border-radius: 50px;
border-color: var(--dark-main);
border-style: solid;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
margin-bottom: 20px;
}


.menu .container .menu-box .menu-content button {
font-size: 15px;
color: #fff;
background-color: var(--main-color);
border-radius: 50px;
border-color: var(--dark-main):
border-style: solid;
padding: 5px;
padding-right: 10px;
padding-left: 10px;
margin-bottom: 15px;
cursor: pointer;
}

.menu .container .menu-box .menu-content button:hover {
background-color: var(--dark-main);
}


.about {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 10px 70px;
}


.about-image{
flex: 1:
margin-right: 40px;
overflow: hidden;
}

.about-image img{
max-width: 10;
height: auto;
display: block;
transition: 0.5s ease;
}

.about-content{
flox: 1:
}


.about-content h2{
font-size: 35px;
margin-bottom: 15px;
color: black;
}

.about-content p{
font-size: 18px;
line-heigh20 1.5;
color: #333;
text-align: justify;
}

/* Team */


.team {
padding: 30px 0;
text-align: center;
}

.team hl {
font-size: 50px;
margin-bottom: 20px;
}

.team-cards {
display: flex;
£lex-wrap: wrap;
justify-content: center;
gap: 15px;
margin-top: 10px;
}

.card {
background-color: white;
border-radius: 6px;
box-shadow: O 4px opx rgba(O, 0, 0, 0.5);
overflow: hidden;
transition: transform 0.2s, box-shadow 0.2s;
width: 288px;
height: 400px;
margin-top: 10px;
cursor: pointer;


.card:hover {
box-shadow: Opx Opx 10px Opx var(--dark-main);
}

.card-img {
width: 200px;
height: 150px;
border-radius: 10px;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
}

.card-img img {
width: 100%;
height: 1008;
object-fit: fill;
}


.team-info button {
display: inline-block;
padding: 5px 10px;
background-color: var(--main-color);
color: #fff;
font-size: 19px;;
border-radius: 10px;
border-color: var(--dark-main)
margin-top: 15px;
transition: 0.3s ease;
cursor: pointer;
}

.team-info button:hover {
background-color: var(--dark-main);
}


.card-name {
font-size: 20px;
margin-top: 110px;
color: #641e16 ;

}


.card-role {
font-size: 15px;
color: #CD5C5C;
margin-bottom: 5px;
}

.card-email {
font-size: 15px;
color:#CD5C5C;
}


/*FOOTER START*/
.footer {
width: 100%;
height: auto;
background: var(--bg);
background-size: cover;
background-repeat: no-repeat;
padding-top: 1rem;
margin-top: 3rem;
}

.footer .container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
padding: 0.5rem 0;
}

.footer .container .footer-box {
padding: 1rem;
margin-Left: 50px;
}

.footer .container .footer-box-1 .navbar a {
color: black;
text-decoration: none;
font-size: 1.5rem;
}


.footer .container .footer-box-1 {
margin-left: 50px;
padding: 1rem;
}


.footer .container .footer-box-1 h3 {
color: black;
font-size: 1.8rem;
Letter-spacing: 0.1rem;
}

.footer .container .footer-box-1 .footer-loc a {
color: black;
font-size: 20px;
}

/* general text format start*/
.footer .container .footer-box h3 {
color: black;
font-size: 1.8rem;
font-weight: bolder;
Letter-spacing: 0.1rem;
}

.footer .container .footer-box p {
color: black;
font-size: 1.5rem;
line-height: 2.5rem;
padding: 1.2rem 0;
}

.footer .container .footer-box button {
font-size: 100px;
}

/* general text format end*/

.footer .container .footer-box form input {
width: 70%;
padding: 1rem;
border-radius: 40px;
}

.footer .container .footer-box p a {
color: var(--bg);
}


.footer .container .footer-box form button {
background: var(--bg);
color: darkmagenta;
padding: 1rem;
cursor: pointer;
border: none;
font-size: 20px;
}


.footer .container .footer-box div a {
margin: 0.5rem;
color: deeppink;
display: inline-block;
width: 3rem;
height: 3rem;
line-height: 3rem;
text-align: black;
}

.footer .container .footer-box .icons {
font-size: 50px;
}

.footer .container .footer-box .icons a {
display: ;
}

.footer .container .footer-box .icons a:hover {
color: hotpink;
font-size: 60px;
}

/*FOOTER END*/